.wapper {
    margin-bottom: 12px;
    cursor: pointer;
    background-color: $base-content-background;
    background-color: #F6F6F6;
    padding: 12px;
    border-radius: 3px;

    &:hover {
        border-color: #1890ff;
    }

    .component {
        pointer-events: none;
    }
}