.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 129px);
    background: url("~@/assets/images/login.png");

    .container_item {
        text-align: center;

        .title {
            color: #fff !important;
        }
    }

    .btn_area {
        button {
            height: 60px;
            font-size: 24px;

            
        }
    }
}