.container {
    @extend %flexCenter;
    flex-direction: column;
    height: calc(100vh - 129px);
    background: url("~@/assets/images/login.png");

    .container_item {
        text-align: center;

        .title {
            color: $base-content-background !important;
        }
    }

    .btn_area {
        button {
            height: 60px;
            font-size: 24px;
        }
    }
}