.container {
    box-sizing: border-box;

    .header {
        display: flex;
        align-items: center;
        box-sizing: border-box;

        .left {
            flex: 1;

        }

        .right {
            flex: 1;
            text-align: right;
        }


    }

    .content {
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .footer {
        text-align: center;
        height: 50px;
        color: #aaa;
    }

    .listContent {
        overflow: auto;
        height: 80vh;
        box-sizing: border-box;
    }
}