.header {

    background: url("~@/assets/images/login.png");

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

.mainBg {
    background: url("~@/assets/images/login.png");
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
}

.main {
    height: calc(100% - 129px);
}

.footer {
    text-align: center;
    color: #fff;
    background: url("~@/assets/images/login.png");


}