.header {


    background: url("~@/assets/images/login.png");
    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

.mainBg {
    background: url("~@/assets/images/login.png");
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.footer {
    text-align: center;
    color: #fff;
    background: url("~@/assets/images/login.png");

}