
// 项目提供 scss 全局变量
// 左侧菜单的宽度
$base-menu-width: 260px;
// 左侧菜单的背景颜色
$base-menu-background:#fff;
// 左侧菜单logo高度
$base-menu-logo-height: 70px;
// 左侧菜单logo右侧文字大小
$base-logo-title-fontSize: 20px;
// 顶部导航的高度
$base-header-heght:50px;
//顶部导航背景颜色
$base-header-background-color:#8f69db;
//右侧内容背景色
$base-content-background:#E6E6FA;