
// 项目提供 scss 全局变量
//基础内容背景色
$base-content-background:#fff;

//字体
$pingfang1: 'PingFang SC', 'Microsoft YaHei';
$pingfang2:"PingFangSC-Regular, sans-serif";
// 页面居中
%pageCenter {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

//父级元素内部居中
%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
